HELP.md
target/

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
/demo/.mvn/wrapper/maven-wrapper.jar
/demo/.mvn/wrapper/maven-wrapper.properties
/demo/.mvn/wrapper/MavenWrapperDownloader.java
/demo/mvnw
/demo/mvnw.cmd
/metadata/mvnw.cmd
/metadata/mvnw
/metadata/.mvn/wrapper/maven-wrapper.jar
/metadata/.mvn/wrapper/maven-wrapper.properties
/metadata/.mvn/wrapper/MavenWrapperDownloader.java
